<body>
    <section class="header">
        <h1>My To-Do</h1>
    </section>

    <div class="container">
        <div class="todo-box shadow p-3 mb-5 bg-white rounded">
            <form action="">
                <h2>Today I shall...</h2>
                    <div class="d-flex">
                        <input class="form-control mr-1" placeholder="add to-do">
                        <button type="button" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add
                        </button>
                    </div>
            </form>
        </div>
    </div>

    <Section>
        <div class="container">
            <div class="todo-list">
                <div class="todo-item">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    <h2>This is a text place holder</h2>
                </div>
            </div>
        </div>
    </Section>

</body>

